html, body {
  margin: 0;
  padding: 0;
}

body > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

canvas {
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}